# Application
VITE_APP_NAME=Be Humble & Grow
VITE_APP_ENV=development
VITE_APP_URL=http://localhost:5173

# Feature flags
VITE_APPLICATION_FEE_ENABLED=false
VITE_FIREBASE_MESSAGING_ENABLED=false
VITE_FIRESTORE_ENABLED=false
VITE_FIREBASE_AUTH_ENABLED=false
VITE_FIREBASE_STORAGE_ENABLED=false

# Supabase public configuration
VITE_SUPABASE_URL=
VITE_SUPABASE_PUBLISHABLE_KEY=
VITE_SUPABASE_ANON_KEY=

# Square Payments public configuration (Replacing Stripe)
VITE_SQUARE_APP_ID=
VITE_SQUARE_LOCATION_ID=
VITE_SQUARE_ENVIRONMENT=sandbox

# Firebase web configuration
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
VITE_FIREBASE_MEASUREMENT_ID=
VITE_FIREBASE_VAPID_KEY=

#square

SQUARE_ACCESS_TOKEN=
SQUARE_LOCATION_ID=
SQUARE_ENVIRONMENT=
Production_Application_ID=
